$light-color: #fcf1f1;
$dark-color: #f8049c;

.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: #f8049c;
    color: $light-color;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  
    &:hover {
      background-color:$light-color;
      color: #f8049c;
      border: 1px solid #f8049c;
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(2px);
      box-shadow: 0 0.5rem 1rem rgba(248, 4, 156, 0.2);
    }

    &:focus {
      outline: none;
    }
  }
  