.collection-item {
    width: 22vw;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    position: relative;

    @media only screen and (max-width : 520px) {
      height: 130px;
    }
    
  
    .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;

      @media only screen and (max-width : 520px) {
        width: 138%;
      }
    }

    .custom-button {
      width: 80%;
      opacity: 0.7;
      position: absolute;
      top: 255px;
      display: none;

      @media only screen and (max-width : 520px) {
        width: 70%;
        top: 55px;
      }
    }

    &:hover {
      .image {
        opacity: 0.8;
      }
      .custom-button {
        opacity: 0.85;
        display: flex;
      }
    }
  
    .collection-footer {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 25px;
      font-weight: 500;

      @media only screen and (max-width : 520px) {
        font-size: 16px;
      }
  
      .name {
        width: 90%;
        margin-bottom: 15px;
        color: #777;
      }
  
      .price {
        width: 10%;
        color: #777;
      }
    }
  }
  