.aboutpage { 
    width: 850px;
    display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3%;

    .fotografie {
        width: 80vh;
        border-radius: 40%;
        opacity: 0.4;

        &:hover {
            opacity: 0.7;
        }
    }
    .about-alina {
        width: 850px;
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        margin: auto 0;
        border: 10px dashed #cd91bd;
        border-radius: 38% 62% 82% 18% / 59% 22% 78% 41%;
        position: relative;
        z-index: 1;
        
        .info {
            background-color: #ffdada;
            z-index: 2;
            position: relative;
            opacity: 0.7;
            border-radius: 70%;
        }
    }

}