.social-icons {
    width: 63%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .fa-2x {
        color: #c38dd2;
        padding-right: 18px;
    }

    .fa-facebook:hover {
        color: #3b5998;
    }

    .fa-facebook-messenger:hover {
        color: #00C6FF;
    }
    .fa-instagram:hover {
        color: #3f729b;
    }


    h2 {
        padding-right: 18px;
    }
}