.social-icons {
    width: 63%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media only screen and (max-width : 520px) {
        width: 98%;
    }

    .fa-2x {
        color: #c38dd2;
        padding-right: 18px;

        @media only screen and (max-width : 520px) {
            padding-right: 10px;
        }
    }

    .fa-facebook:hover {
        color: #3b5998;
    }

    .fa-facebook-messenger:hover {
        color: #00C6FF;
    }
    .fa-instagram:hover {
        color: #3f729b;
    }


    h2 {
        
        padding-right: 18px;

        @media only screen and (max-width : 520px) {
            padding-right: 1px;
            font-size: 18px;
        }
    }
}