.cart-icon {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .shopping-icon {
      width: 50px;
      height: 50px;

      @media only screen and (max-width : 520px) {
        width: 30px;
        height: 30px;
      }
    }
  
    .item-count {
      position: absolute;
      font-size: 20px;
      font-weight: bold;
      bottom: 5px;
      
      @media only screen and (max-width : 520px) {
        font-size: 15px;
        bottom: 3px;
      }
    }
  }
  