.checkout-page {
    width: 55%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;

    @media only screen and (max-width : 520px) {
      width: 85%;
    }
  
    .checkout-header {
      width: 100%;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #fababc;
  
      .header-block {
        text-transform: capitalize;
        width: 23%;
  
        &:last-child {
          width: 8%;
        }
      }

    }
  
    .total {
      color: #c38dd2;
      margin-top: 30px;
      margin-left: auto;
      font-size: 36px;

      @media only screen and (max-width : 520px) {
        font-size: 28px;
      }
      
    }

    .checkout-hb {
      font-size: 25px;
      color:  #c38dd2;

      @media only screen and (max-width : 520px) {
        font-size: 20px;
      }
    }

    .buy-now {
      border: 2px solid #f8049c;
      border-radius: 70%;
      padding: 1%;
      font-size: 60px;
      text-align: center;

      @media only screen and (max-width : 520px) {
        font-size: 30px;
      }

      .buy-text {
        font-size: 40px;
        font-weight: 700;
        color: #f8049c;

        @media only screen and (max-width : 520px) {
          font-size: 18px;
        }
      }

    }
  }
  