.header {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
    
    .logo-container {
        height: 100%;
        width: 150px;
        padding: 25px; 
        ;      
      }
    
    .logo {
        height: 120px;
    }
    .motto-container {
        display: flex;
        align-items: center;
        padding: 0 20%;
        text-align: center;
    }
    .motto {
        font-size: 25px;
        color: #777;font-family: 'Indie Flower', cursive;
        background: radial-gradient(rgb(245, 229, 248),#fcf1f1); 
        
        // transform: skewX(10deg);
    }
    .gift {
        color:#cd91bd;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 35px;
        font-family: 'Indie Flower', cursive;
        border: 1px solid  #ce26a1;
        
    }
    

    .options {
      width: 70%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 30px;
      
      
      .option {
        padding: 15px 15px;
        text-decoration: none;
        color: black;
        cursor: pointer;
      }
      
      .option-shop {background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97  51%, #DD5E89  100%)}
      .option-shop {
         margin: 10px;
         padding: 10px 20px;
         text-align: center;
         text-transform: uppercase;
         transition: 0.5s;
         background-size: 200% auto;
         color: white;            
         box-shadow: 0 0 20px #eee;
         border-radius: 10px;
         display: block;
       }

       .option-shop:hover {
         background-position: right center; /* change the direction of the change here */
         color: #fff;
         text-decoration: none;
         transform: translateY(-1px);
       }
       .option-shop:active {
        transform: translateY(2px);
        box-shadow: 0 0.5rem 1rem  #DD5E89;
        
       }
   }
  }
  