.header {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
    
    .logo-container {
        height: 100%;
        width: 150px;
        padding: 25px; 
        
        @media only screen and (max-width : 520px) {
          padding: 5px;
          width: 80px;
          position: relative;
          top: 18px;
        }
      }
    
    .logo {
        height: 120px;

        &:hover {
          transform: scale(1.1);
          filter: hue-rotate(25deg);
        }
        &:active {
          transform: translateY(-5px);
          
        }

        @media only screen and(max-width : 520px) {
          height: 80px;
        }
    }
    .motto-container {
        display: flex;
        align-items: center;
        padding: 0 20%;
        text-align: center;

        @media only screen and (max-width : 520px) {
          padding: 0 2%;
        }
    }
    .motto {
        font-size: 25px;
        color: #777;font-family: 'Indie Flower', cursive;
        background: radial-gradient(rgb(245, 229, 248),#fcf1f1); 
        @media only screen and (max-width : 520px) {
          
          font-size: 16px;
        }
        
        // transform: skewX(10deg);
    }
    .gift {
        color:#cd91bd;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 35px;
        font-family: 'Indie Flower', cursive;
        border: 1px solid  #ce26a1;

        @media only screen and (max-width : 520px) {
          font-size: 25px;
        }
        
    }
    

    .options {
      width: 75%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 30px;

      @media only screen and (max-width : 520px) {
        width: 25%;
        flex-direction: column;
        font-size: 16px;
      }
      
      
      .option {
        padding: 15px 15px;
        text-decoration: none;
        color: black;
        cursor: pointer;

        @media only screen and (max-width : 520px) {
          padding: 5px 5px;
        }
        
        &:hover {
          border-bottom: solid 3px  #DD5E89;
        }
      }
      
      .option-shop {background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97  51%, #DD5E89  100%)}
      .option-shop {
        margin: 10px;
        padding: 10px 20px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;

        @media only screen and (max-width : 520px) {
          margin: 1px;
          padding: 5px 8px;
        }
              
        }

      .option-shop:hover {
         background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
        transform: translateY(-1px);
    }
      .option-shop:active {
        transform: translateY(2px);
        box-shadow: 0 0.5rem 1rem  #DD5E89;
      }

      
  }
}
  