.header {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
    
    .logo-container {
        height: 100%;
        width: 150px;
        padding: 25px;       
      }
    
    .logo {
        height: 120px;
    }
    .motto-container {
        display: flex;
        align-items: center;
        padding: 0 20%;
        text-align: center;
    }
    .motto {
        font-size: 25px;
        color: #777;font-family: 'Indie Flower', cursive;
        // transform: skewX(10deg);
    }
    .gift {
        color:#cd91bd;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 35px;
        font-family: 'Indie Flower', cursive;
        border: 1px solid#cd91bd;
        
    }
    

    .options {
      width: 20%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 30px;
      
      
      .option {
        padding: 15px 15px;
        text-decoration: none;
        color: black;
      }
    }
  }
  