* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 60px;
    /* background-color: #fcf1f1; */
    background-image: repeating-linear-gradient(36deg, rgb(252,241,241) 0px, rgb(252,241,241) 19px,transparent 19px, transparent 21px),repeating-linear-gradient(80deg, rgb(252,241,241) 0px, rgb(252,241,241) 19px,transparent 19px, transparent 21px),repeating-linear-gradient(20deg, rgb(252,241,241) 0px, rgb(252,241,241) 19px,transparent 19px, transparent 21px),linear-gradient(100deg, rgb(195,141,210),rgb(250,186,188));
}
h2 {
    color: #c38dd2;
}

span {
    color: #fababc;
    font-weight: 500;
}

body::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: #fcf1f1;        /* color of the tracking area */
  }
  body::-webkit-scrollbar-thumb {
    background-color: #cd91bd;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid #cd91bd;  /* creates padding around scroll thumb */
  }